.board {
  background-color: orange;
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-template-rows: 20% 20% 20% 20% 20%;
  height: 500px;

  position: absolute;
  left: 20%;
  top: 20%;
  width: 500px;
}
